.navigation {
    &__lg-menu {
        display: none;

        a {
            color: $bg-color-footer;
        }

        button {
            color: $bg-color-footer;
        }

        @include respond-to(768) {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__burger {
        margin: auto 30px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 35px;
        cursor: pointer;

        &--slide-in {
            margin-left: 30px;
            margin-top: 30px;

            & div {
                background-color: $bg-color-active-tab;
            }
        }

        @include respond-to(768) {
            display: none;
        }
    }

    &__burger-line {
        height: 2px;
        background-color: $bg-color-active-tab;

        &--second {
            width: 50%;
        }
    }

    &__top-links {
        text-transform: uppercase;
        font-size: 12px;

        &--slide {
            margin: 0;
            font-size: 20px;
        }
    }

    &__top-btn {
        margin: 0;
        padding: 10px 20px;
        border: 1px solid $font-color-header-light;
        background-color: transparent;
        color: $font-color-header-light;
        border-radius: 8px;
        cursor: pointer;
    }

    &__line {
        display: inline-block;
        width: 1px;
        height: 20px;
    }

    &__container {
        @include respond-to(1900) {
            max-width: 1900px;
            margin: 0 auto;
        }
    }
}
