.windows-logo {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: flex-end;
    margin: 0 auto;

    &__single {
        min-width: 200px;
        min-height: 200px;
    }
}
